{ 
    "Servers": { 
        "1": { 
            "Name": "{{ pgadmin_init_config_name }}", 
            "Group": "{{ pgadmin_init_config_group }}", 
            "Port": 5432, 
            "Username": "{{ pgadmin_init_config_username}}", 
            "Host": "{{ pgadmin_init_config_host }}", 
            "Password": {{ pgadmin_init_config_password }}",
            "SSLMode": "prefer", 
            "MaintenanceDB": "postgres" 
        }
    }
}